<div class="container">
    <div class="row">
        <div class="col">

            <h3>Delete Instructor</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <p *ngIf="error === '' && !spinner">
                Last Name: <b>{{ instructor.lastName }}</b><br/>
                First Name: <b>{{ instructor.firstMidName }}</b><br/>
                Hire Date: <b>{{ instructor.hireDate }}</b><br/>
                
                <button (click)="deleteInstructor()" type="submit" class="btn btn-danger">Delete Instructor</button>
            </p>

            <a routerLink="../../edit/{{ instructor.id }}">Edit</a> |
            <a routerLink="../../../instructors">Back</a>

        </div>
      </div>
</div>