<div class="container">
    <div class="row">
        <div class="col">

            <h3>Create Course</h3>
            
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <form (ngSubmit)="createCourse()" action="post" method="post" class="mb-4">
                <div class="mb-3">
                    <label class="form-label">Course #</label>
                    <input type="number" [(ngModel)]="course.courseID" name="courseID" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Course Name</label>
                    <input type="text" [(ngModel)]="course.title" name="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Credits</label>
                    <input type="number" [(ngModel)]="course.credits" name="credits" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Department</label>
                    <select [(ngModel)]="course.departmentID" name="departmentID" class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let department of departmentList" value="{{ department.departmentID }}">{{ department.name }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update Course</button>
            </form>

            <a routerLink="../../courses">Back</a>

        </div>
      </div>
</div>