<div class="container">
    <div class="row">
        <div class="col">

            <h3>Department</h3>
            <a routerLink="../department/create">Create</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Instructor</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of departmentList">
                    <th scope="row">{{ department.departmentID }}</th>
                    <td>{{ department.name }}</td>
                    <td>{{ department.budget }}</td>
                    <td>{{ department.administrator.fullName }}</td>
                    <td>
                      <a routerLink="../department/edit/{{ department.departmentID }}">Edit</a> |
                      <a routerLink="../department/detail/{{ department.departmentID }}">Detail</a> |
                      <a routerLink="../department/delete/{{ department.departmentID }}">Delete</a>
                    </td>
                  </tr>
                </tbody>
            </table>

            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

        </div>
      </div>
</div>