<div class="container">
    <div class="row">
        <div class="col">

            <h3>Courses</h3>
            <a routerLink="../course/create">Create</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Department</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of courseList">
                    <th scope="row">{{ course.courseID }}</th>
                    <td>{{ course.title }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.department.name }}</td>
                    <td>
                      <a routerLink="../course/edit/{{ course.courseID }}">Edit</a> |
                      <a routerLink="../course/detail/{{ course.courseID }}">Detail</a> |
                      <a routerLink="../course/delete/{{ course.courseID }}">Delete</a>
                    </td>
                  </tr>
                </tbody>
            </table>

            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

        </div>
      </div>
</div>