<div class="container">
    <div class="row">
        <div class="col">

            <h3>Delete Course</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <p *ngIf="error === '' && !spinner">
                Course Title: <b>{{ course.title }}</b><br/>
                Credits: <b>{{ course.credits }}</b><br/>
                Department Name: <b>{{ department.name }}</b><br/>
                
                <button (click)="deleteCourse()" type="submit" class="btn btn-danger">Delete Course</button>
            </p>

            <a routerLink="../../edit/{{ course.courseID }}">Edit</a> |
            <a routerLink="../../../courses">Back</a>

        </div>
      </div>
</div>