<div class="container">
    <div class="row">
        <div class="col">

            <h3>Detail Student</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <p *ngIf="error === '' && !spinner">
                Last Name: <b>{{ student.lastName }}</b><br/>
                First Name: <b>{{ student.firstMidName }}</b><br/>
                Enrollment Date: <b>{{ student.enrollmentDate }}</b><br/>
            </p>

            <a routerLink="../../edit/{{ student.id }}">Edit</a> |
            <a routerLink="../../../students">Back</a>

        </div>
      </div>
</div>