<div *ngIf="error !== ''" class="alert alert-danger" role="alert">
    {{ error }}
    <button *ngIf="isSession" 
        (click)="login()" 
        class="btn btn-outline-danger"
        style="float: right; margin-top: -8px"
        type="submit">Login</button>
</div>