<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Contoso University</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/students">Students</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/courses">Courses</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/instructors">Instructors</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/departments">Departments</a>
              </li>
          </ul>
          <div class="d-flex">
            <button *ngIf="!isLoggedIn" (click)="login()" class="btn btn-outline-primary me-2" type="submit">Login</button> 
            <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-primary" style="margin-left: 20px;" type="submit">Logout</button>
          </div>
      </div>
  </div>
</nav>

<div class="container-fluid mt-2">

  <div class="text-center mt-4" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</div>

<footer class="text-center" style="margin-top: 100px;">
  2021 Copyright. Contoso University. Version 1.02
</footer>