<div class="container">
    <div class="row">
        <div class="col">

            <h3>Instructor</h3>
            <a routerLink="../instructor/create">Create</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Instructor's Name</th>
                    <th scope="col">Hire Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let instructor of instructorList">
                    <th scope="row">{{ instructor.id }}</th>
                    <td>{{ instructor.fullName }}</td>
                    <td>{{ instructor.hireDate }}</td>
                    <td>
                      <a routerLink="../instructor/edit/{{ instructor.id }}">Edit</a> |
                      <a routerLink="../instructor/detail/{{ instructor.id }}">Detail</a> |
                      <a routerLink="../instructor/delete/{{ instructor.id }}">Delete</a>
                    </td>
                  </tr>
                </tbody>
            </table>

            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

        </div>
      </div>
</div>