<div class="container">
    <div class="row">
        <div class="col">

            <h3>Detail Instructor</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <p *ngIf="error === '' && !spinner">
                Last Name: <b>{{ instructor.lastName }}</b><br/>
                First Name: <b>{{ instructor.firstMidName }}</b><br/>
                Hire Date: <b>{{ instructor.hireDate }}</b><br/>
            </p>
            

            <table *ngIf="!spinner" class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course Title</th>
                  <th scope="col">Credits</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courseList">
                  <th scope="row">{{ course.course.courseID }}</th>
                    <td>{{ course.course.title }}</td>
                    <td>{{ course.course.credits }}</td>
                </tr>
              </tbody>
            </table>

            <a routerLink="../../edit/{{ instructor.id }}">Edit</a> |
            <a routerLink="../../../instructors">Back</a>

        </div>
      </div>
</div>