<div class="container">
    <div class="row">
        <div class="col">

            <h3>Create Student</h3>
            
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <form (ngSubmit)="createStudent()" action="post" method="post" class="mb-4">
                <div class="mb-3">
                    <label class="form-label">First name</label>
                    <input type="text" [(ngModel)]="student.firstMidName" name="firstMidName" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last name</label>
                    <input type="text" [(ngModel)]="student.lastName" name="lastName" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Enrollment date</label>
                    <input type="date" [(ngModel)]="student.enrollmentDate" name="enrollmentDate" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Create Student</button>
            </form>
            <a routerLink="../../students">Back</a>

        </div>
      </div>
</div>