<div class="container">
    <div class="row">
        <div class="col">

            <h3>Students</h3>
            <a routerLink="../student/create">Create</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Enrollment Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentList">
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.fullName }}</td>
                    <td>{{ student.enrollmentDate }}</td>
                    <td>
                      <a routerLink="../student/edit/{{ student.id }}">Edit</a> |
                      <a routerLink="../student/detail/{{ student.id }}">Detail</a> |
                      <a routerLink="../student/delete/{{ student.id }}">Delete</a>
                    </td>
                  </tr>
                </tbody>
            </table>

            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

        </div>
      </div>
</div>