<div class="container">
    <div class="row">
        <div class="col">

            <h3>Create Department</h3>
            
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <form (ngSubmit)="createDepartment()" action="post" method="post" class="mb-4">
                <div class="mb-3">
                    <label class="form-label">Department name</label>
                    <input type="text" [(ngModel)]="department.name" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Budget</label>
                    <input type="number" [(ngModel)]="department.budget" name="budget" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Instructor</label>
                    <select [(ngModel)]="department.instructorID" name="instructorID" class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let instructor of instructorList" value="{{ instructor.id }}">{{ instructor.fullName }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Department</button>
            </form>

            <a routerLink="../../departments">Back</a>

        </div>
      </div>
</div>