<div class="container">
    <div class="row">
        <div class="col">

            <h3>Edit Instructor</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <form *ngIf="!spinner" (ngSubmit)="updateInstructor()" action="post" method="post" class="mb-4">
                <div class="mb-3">
                    <label class="form-label">First name</label>
                    <input type="text" [(ngModel)]="instructor.firstMidName" name="firstMidName" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last name</label>
                    <input type="text" [(ngModel)]="instructor.lastName" name="lastName" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Hire date</label>
                    <input type="date" [(ngModel)]="instructor.hireDate" name="hireDate" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Update Instructor</button>
            </form>

            <a routerLink="../../delete/{{ instructor.id }}">Delete</a> |
            <a routerLink="../../../instructors">Back</a>

        </div>
      </div>
</div>