/* You can add global styles to this file, and also import other style files */
app-root {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #FFFFFF;
}
footer {
    margin-bottom: 100px;
}