<div class="container">
    <div class="row">
        <div class="col">

            <div class="text-center" style="margin-top: 100px;">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
                
                <spinner *ngIf="spinner"></spinner>
            </div>

        </div>
      </div>
</div>