<div class="container">
    <div class="row">
        <div class="col">

            <h3>Detail Department</h3>
            
            <spinner *ngIf="spinner"></spinner>
            <alert *ngIf="error !== ''" [error]="error"></alert>

            <p *ngIf="error === '' && !spinner">
                Department name: <b>{{ department.name }}</b><br/>
                Budget: <b>{{ department.budget }}</b><br/>
                Instructor: <b>{{ instructor.fullName }}</b><br/>
            </p>

            <a routerLink="../../edit/{{ department.departmentID }}">Edit</a> |
            <a routerLink="../../../departments">Back</a>

        </div>
      </div>
</div>